# ==============================================================================
# C?U HÌNH H? TH?NG BLU CHATBOT & ADMIN 
# ==============================================================================

# ---------- B?O M?T & CORS ----------
PUBLIC_API_KEY=
ADMIN_API_KEY=
CORS_ALLOW_ORIGINS=http://127.0.0.1:5500
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=GET,POST
CORS_ALLOW_HEADERS=*
RATE_LIMIT_ERROR_MSG="B?n thao tác quá nhanh, vui lòng ch? trong giây lát r?i th? l?i!"

# ---------- THU M?C & LUU TR? ----------
DOC_DIR=documentBL
RAW_DIR=documentBL_original
LOG_DIR=logs
ASSETS_DIR=assets
BACKUP_DIR=database/backup/blu

# ---------- VECTOR DB (QDRANT DOCKER) ----------
QDRANT_URL=http://localhost:6333
COLLECTION_NAME=blu

# ---------- INFINITY SERVER (EMBEDDING & RERANKER) ----------
INFINITY_API_BASE=http://localhost:7997

# ---------- EMBEDDING MODEL ----------
EMBEDDING_MODEL=BAAI/bge-m3
DENSE_EMBEDDINGS_MODEL_NAME=BAAI/bge-m3
EMBENDDING_MODEL_KWARGS_DEVICE=cuda:1
DENSE_EMBEDDINGS_MODEL_KWARGS_DEVICE=cuda:1
SPARSE_EMBEDDINGS_MODEL_NAME=Qdrant/bm25
EMBEDDINGS_BATCH_SIZE=500
CHUNK_SIZE=2000
CHUNK_OVERLAP=200
KEEP_SEPARATOR=true

# ---------- RETRIEVER & RERANKER ----------
RERANKER_MODEL=BAAI/bge-reranker-v2-m3
RETRIEVER_MODEL_KWARGS_DEVICE=cuda:0
SEARCH_KWARGS=20
DEFAULT_RERANK_TOP_N=5
DEFAULT_SCORE_THRESHOLD=0.4
MAX_CHAT_HISTORY=4
MAX_CHAT_RESPONSE_TOKEN=2048
LANGCHAIN_DEBUG=false

# ---------- LLM CHÍNH (LOCAL DEEPSEEK/OLLAMA) ----------
LLM_MODEL_NAME=deepseek-v4-pro-nothinking
LLM_API_BASE=http://172.16.2.88:5001/v1
LLM_API_KEY=
LLM_TEMPERATURE=0
LLM_TOP_P=0.1

# ---------- LLM PH? TR? (GEMINI CLOUD) ----------
EXTERNAL_LLM_API_KEY=thay_api_key_cua_ban_vao_day
EXTERNAL_LLM_API_BASE=https://generativelanguage.googleapis.com/v1beta/openai/
EXTERNAL_LLM_MODEL_NAME=gemini-3.1-flash-lite-preview

# ---------- AI VISION (PHÂN TÍCH ?NH PDF B?NG GEMINI) ----------
ENABLE_GEMINI_VISION=false
GEMINI_API_KEY=thay_api_key_cua_ban_vao_day
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent

# ---------- GOOGLE SHEETS ----------
GOOGLE_SHEETS_CRED_FILE=google_credentials.json
GOOGLE_SPREADSHEET_ID=

# ---------- DAILY REPORT ----------
DAILY_REPORT_EMBEDER_DEVICE=cuda:1
SENDER_EMAIL=
SENDER_PASSWORD=
RECEIVER_EMAIL
TEST_MODE=False

# ---------- TÀI KHO?N HUGGING FACE ----------
HF_TOKEN=