#=========================================================== admin-server.py ===========================================================
# ========== CẤU HÌNH GEMINI PHÂN TÍCH ẢNH ==========
# Điền API Key của bạn vào đây
GEMINI_API_KEY=thay_api_key_cua_ban_vao_day

# URL của model Gemini (Mặc định đang dùng gemini-3.1-flash-lite-preview)
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent

# Công tắc bật/tắt AI phân tích ảnh: "true" để chạy AI, "false" để trả về Fallback an toàn
ENABLE_GEMINI_VISION=false

#=========================================================== serverBL.py (Chatbot engine server) ===========================================================
# ========== CẤU HÌNH GG SHEET LƯU INFO NGƯỜI DÙNG VÀ LỊCH SỬ CHAT ==========
# save user info and chat history to gg sheet
GOOGLE_SHEETS_CRED_FILE=google_credentials.json
GOOGLE_SPREADSHEET_ID=

# ========== CẤU HÌNH API KEY CHO API VÀ CLIENT ==========
PUBLIC_API_KEY=
ADMIN_API_KEY=

# ========== CẤU HÌNH BẢO MẬT & CORS ==========
CORS_ALLOW_ORIGINS=http://127.0.0.1:5500
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=GET,POST
CORS_ALLOW_HEADERS=*

# ========== CẤU HÌNH THÔNG BÁO LỖI ==========
RATE_LIMIT_ERROR_MSG="Bạn đang sống vội quá, vui lòng chờ trong giây lát rồi thử lại!"
LANGCHAIN_DEBUG=false

# ========== CẤU HÌNH THÔNG SỐ RAG & LLM (LOCAL - DEFAULT) ==========
#LLM_MODEL_NAME=Qwen/Qwen2.5-14B-Instruct-AWQ
#LLM_API_BASE=http://localhost:8080/v1
#LLM_API_KEY=EMPTY

LLM_MODEL_NAME=qwen3:14b
LLM_API_BASE=http://localhost:11434/v1
LLM_API_KEY=ollama

# ========== CẤU HÌNH EXTERNAL LLM (TÙY CHỌN - SẼ ƯU TIÊN CHẠY TRƯỚC NẾU ĐƯỢC CÀI ĐẶT) ==========
# Nếu để trống EXTERNAL_LLM_API_KEY, hệ thống sẽ tự động chỉ dùng Local LLM
EXTERNAL_LLM_API_KEY=
EXTERNAL_LLM_API_BASE=https://generativelanguage.googleapis.com/v1beta/openai/
EXTERNAL_LLM_MODEL_NAME=gemini-3.1-flash-lite-preview

# ========== THÔNG SỐ CHUNG CHO AI ==========
LLM_TEMPERATURE=0
LLM_TOP_P=0.1
LLM_MAX_TOKEN_RESPONSE=2048

# ========== CẤU HÌNH VECTOR STORE DATABASE ==========
DATABASE_PATH=database/collection
COLLECTION_NAME=blu
DOC_DIR=documentBL
RAW_DIR=documentBL_original
LOG_DIR=logs
ASSETS_DIR=assets
BACKUP_DIR=database/backup/blu

# ========== EMBENDDING ==========
EMBEDDING_MODEL=BAAI/bge-m3
CHUNK_SIZE=2000
CHUNK_OVERLAP=200
KEEP_SEPARATOR=true

# cpu || cuda || cuda:0
EMBENDDING_MODEL_KWARGS_DEVICE=cpu


# ========== RETRIEVER ==========
RERANKER_MODEL=BAAI/bge-reranker-v2-m3
MAX_CHAT_HISTORY=4
DEFAULT_RERANK_TOP_N=7
DEFAULT_SCORE_THRESHOLD=0.4
SEARCH_KWARGS=20
MAX_CHAT_RESPONSE_TOKEN=2048

# cpu || cuda || cuda:0
RETRIEVER_MODEL_KWARGS_DEVICE=cuda:0

#=========================================================== update_new_data.py (Script phân tích và nhúng vector tự động) =========================
DENSE_EMBEDDINGS_MODEL_NAME=BAAI/bge-m3
DENSE_EMBEDDINGS_MODEL_KWARGS_DEVICE=cpu
SPARSE_EMBEDDINGS_MODEL_NAME=Qdrant/bm25
EMBEDDINGS_BATCH_SIZE=500

#=========================================================== daily_report.py (Script báo cáo tự động) ===========================================================
# ========== ===========
DAILY_REPORT_EMBEDER_DEVICE=cpu

# ========== CẤU HÌNH EMAIL GỬI BÁO CÁO ==========
SENDER_EMAIL=
SENDER_PASSWORD=

# Các email nhận báo cáo, cách nhau bởi dấu phẩy
RECEIVER_EMAIL=

# ========== CẤU HÌNH MÔI TRƯỜNG REPORT ==========
# Đặt là True để test code (quét toàn bộ dữ liệu), đổi thành False khi chạy thực tế (chỉ quét ngày hôm qua)
TEST_MODE=False

#=========================================================== ===========================================================
# Xác thực Hugging Face
HF_TOKEN=